.login-main-div>.el-input>#userId-input {
  border-radius: 4px 4px 0px 0px;
  border-collapse:collapse;

}

.login-main-div>.el-input>#password-input {
  border-radius: 0px 0px 4px 4px;
  border-collapse:collapse;
}

.developing-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: #cccccc;
}

.developing-div .el-link {
  margin-left: 5px;
  font-family: Micrsofot Yahei;
}

.friend-list-div .el-tree-node__content:hover {
  background-color: #ececec;
}

.friend-list-div .el-tree-node:focus > .el-tree-node__content {
  background-color: #ececec;
}


.friend-list-div .el-tree-node__children .el-tree-node__expand-icon {
  position: absolute;
}

.friend-list-div .el-tree-node__children .el-tree-node__content {
  height: 50px;
}

