.login-main-div>.el-input>#userId-input {
  border-radius: 4px 4px 0px 0px;
  border-collapse:collapse;

}

.login-main-div>.el-input>#password-input {
  border-radius: 0px 0px 4px 4px;
  border-collapse:collapse;
}
